<section class="thirteen columns">
    <h1>Profile</h1>
    <article class="mycontent">
        <p> I am a senior scientist in Internet of Things Systems & Software at Hitachi Energy Research Switzerland. 
            Previously, I worked on software security, reliability of machine learning and making robots easier to program at ABB Corporate Research.
            I received my PhD in Computer Science from ETH Zurich in 2018. 
        </p>
        <p>
            You can find more details in <a href="assets/cv.pdf" target="_blank">my CV</a>.
        </p>
    </article>
</section>
