<section class="thirteen columns">
    <h1>Publications</h1>
    <article class="mycontent">
        <header>
            <p><a href="assets/aina2025.pdf" target="_blank">A Framework for Configurable Scalability Evaluations of IoT Platforms</a></p>
            <span>Fabio Muratori, Yuening Yang, Zeineb Rejiba, Andrei Dan. AINA 2025</span>
        </header>
    </article>
    
    <article class="mycontent">
        <header>
            <p><a href="https://arxiv.org/pdf/2005.09294.pdf" target="_blank">Synthesizing False Positive Adversarial Objects Using Generative Models</a></p>
            <span>Martin Kotuliak, Sandro E. Schoenborn, Andrei Dan.</span>
        </header>
    </article>

    <article class="mycontent">
        <header>
            <p><a href="https://arxiv.org/pdf/2005.13300.pdf" target="_blank">Fast and Effective Robustness Certifcation for Recurrent Neural Networks</a></p>
            <span>Wonryong Ryou, Jiayu Chen, Mislav Balunovic, Gagandeep Singh, Andrei Dan, Martin Vechev. CAV 2021</span>
        </header>
    </article>

    <article class="mycontent">
        <header>
            <p><a href="https://arxiv.org/pdf/1806.01143.pdf" target="_blank">Securify: Practical Security Analysis of Smart Contracts</a></p>
            <span>Petar Tsankov, Andrei Dan, Dana Drachsler-Cohen, Arthur Gervais, Florian Bunzli, Martin Vechev. CCS 2018</span>
        </header>
    </article>

    <article class="mycontent">
        <header>
            <p><a href="assets/vmcai18.pdf" target="_blank">Automatic Verifcation of RMA Programs via Abstraction Extrapolation</a></p>
            <span>Cedric Baumann, Andrei Dan, Yuri Meshman, Torsten Hoefler, Martin Vechev. VMCAI 2018</span>
        </header>
    </article>

    <article class="mycontent">
        <header>
            <p><a href="assets/cav17-mincut.pdf" target="_blank">Finding Fix Locations for CFL-Reachability Analyses via Minimum Cuts</a></p>
            <span>Andrei Dan, Manu Sridharan, Satish Chandra, Jean Baptiste Jeannin, Martin Vechev. CAV 2017</span>
        </header>
    </article>

    <article class="mycontent">
        <header>
            <p><a href="assets/oopsla16-rma.pdf" target="_blank">Modeling and Analysis of Remote Memory Access Programming</a></p>
            <span>Andrei Dan, Patrick Lam, Torsten Hoefler, Martin Vechev. OOPSLA 2016 (Distinguished Paper Award)</span>
        </header>
    </article>

    <article class="mycontent">
        <header>
            <p><a href="assets/vmcai15.pdf" target="_blank">Effective Abstractions for Verifcation under Relaxed Memory Models</a></p>
            <span>Andrei Dan, Yuri Meshman, Martin Vechev, Eran Yahav. VMCAI 2015</span>
        </header>
    </article>

    <article class="mycontent">
        <header>
            <p><a href="assets/sas14-smfrp.pdf" target="_blank">Synthesis of Memory Fences via Refinement Propagation</a></p>
            <span>Yuri Meshman, Andrei Dan, Martin Vechev, Eran Yahav. SAS 2014</span>
        </header>
    </article>

    <article class="mycontent">
        <header>
            <p><a href="assets/sas13.pdf" target="_blank">Predicate Abstraction for Relaxed Memory Models</a></p>
            <span>Andrei Dan, Yuri Meshman, Martin Vechev, Eran Yahav. SAS 2013</span>
        </header>
    </article>

</section>
